@charset "utf-8";

.b02-1map {position:relative; margin:0 auto; width:493px;}
.modal-click {width:57px; height:68px; text-indent:-9999px; display:inline-block; position:absolute;}

#myBtn1 {left: 60px; top: 83px;}
#myBtn2 {left: 121px; top: 99px;}
#myBtn3 {left: 152px; top: 161px;}
#myBtn4 {left: 261px; top: 107px;}
#myBtn5 {left: 165px; top: 248px;}
#myBtn6 {left: 171px; top: 348px;}
#myBtn7 {left: 356px; top: 400px;}
#myBtn8 {left: 64px; top: 602px;}