@charset "UTF-8";

#gnb a {display:block;color:#efefef}
.gnb_1dli{position:relative;line-height:40px;}
.gnb_1dli button{position:absolute;top:0;right:0;border:0;width:40px;height:40px;overflow:hidden;background:url("../img/gnb_bg.png") no-repeat 50% 50%;text-indent:-9999px}
.gnb_1dli button.btn_gnb_cl{background:url("../img/gnb_bg2.png") no-repeat 50% 50%}
.gnb_1da {padding:0 20px;border-bottom:1px solid #2d2d2d}
.gnb_2dul {display:none;}
.gnb_2da {border-bottom:1px solid #2d2d2d;background:url("../img/btn_next.gif") no-repeat 21px 17px;padding-left:30px}
#gnb_close {display:block;margin:0;height:50px;width:100%;border:0;background:url("../img/btn_close.png") no-repeat right 50% #222222;background-size:25px;color:#fff;text-indent:-999999999px;overflow:hidden}

#gnb_empty {padding:20px 0;color:#fff;text-align:center;line-height:1.5}
#gnb_empty a {display:inline;text-decoration:underline}

#hd_sch {text-align:center;padding:20px}
#hd_sch h2 {position:absolute;font-size:0;text-indent:-9999px;line-height:0;overflow:hidden}
#hd_sch form {position:relative;padding-right:40px;}
#hd_sch #sch_stx {width:100%;height:45px;background:#464646;border:0;padding-left:10px;border-radius:3px 0 0 3px;color:#fff}
#hd_sch #sch_submit {position:absolute;top:0;right:0;width:40px;height:45px;border:0;border-radius:0 3px 3px 0;cursor:pointer;color:#fff;background:#464646;font-size:13px;}

#user_btn {position:absolute;top:20px;right:10px;padding:0 10px;height:30px;width:30px;border:0;color:#e50114;font-size:18px;background:none;}
#user_menu{display:none;position:fixed;top:0;right:0;height:100%;overflow-y:auto;width:320px;z-index:9999;background:#fff;text-align:center;
-webkit-box-shadow:0 0 5px  rgba(55,55,5,0.4));
-moz-box-shadow:0 0 5px  rgba(55,55,5,0.4));
box-shadow: 0 0 5px  rgba(55,55,5,0.4);}
#user_close {display:block;margin:0;height:50px;width:100%;border:0;background:url("../img/btn_close.png") no-repeat right 50% #222;background-size:25px;color:#fff;text-indent:-999999999px;overflow:hidden}
#snb_cnt span{display:inline-block;padding: 0 7px;height:18px;line-height:18px;font-size:12px;background:#3ca1ff;border-radius:20px;color:#fff}

#hd_nb{margin:20px;}
#hd_nb:after {display:block;visibility:hidden;clear:both;content:""}
#hd_nb li{width:50%;float:left;text-align:center;font-size:13px;font-weight:bold}
#hd_nb li a{display:block;color:#717171;padding:20px 0}
#hd_nb li i{font-size:20px;}
#hd_nb .hd_nb1{border-right:1px solid #e2e5e7;border-bottom:1px solid #e2e5e7}
#hd_nb .hd_nb2{border-bottom:1px solid #e2e5e7}
#hd_nb .hd_nb3{border-right:1px solid #e2e5e7}

/* 서브메뉴-현재위치 */
.submenuwrap{position:relative;width:100%; height:47px; margin:0 auto; background:#fafafa; border-bottom:1px solid #d2d2d2; z-index:9998;}
.submenulocation{position:relative; margin:0 auto; line-height:27px;}
.submenu{position:relative; min-width:320px;}
.submenu li{float:left; padding:10px 5px;}
.locationhome{margin-left:10px;}
.locationhome a{color:#222}
.locationdepth1{}
.locationdepth2{}
.locationdepth2>a{overflow:hidden;display:block;  max-width:185px;}
.locationdepth2>a.on{color:#e50114;}
.locationdepth2>a span{padding-left:10px;}

.locationdepthdrop2{position:absolute; width:185px; left:140px; top:47px;}
.locationdepthdrop2 li{width:99%; padding:7px 0;  border-bottom:1px solid #d2d2d2; border-left:1px solid #d2d2d2; border-right:1px solid #d2d2d2;  background:#fff;}
.locationdepthdrop2 li a{color:#666; padding-left:10px;}
.locationdepthdrop2 li a:hover{}
